@{
    ViewBag.Title = "Home Page";
}

<!-- Home -->
<div id="home" class="banner-area">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(@Url.Content("~/Content/Images/background02.jpg"))"></div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">

        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="home-content">
                <h1 class="white-text">Welcome To Risotto Restaurant</h1>
                <h4 class="white-text lead">Nec solet elaboraret eu, ea usu vidit accusam. Ea per legimus singulis percipitur. Graecis ullamcorper nec ex, vix euismod detraxit voluptaria at.</h4>
                <button class="main-button">Discover Menu</button>
            </div>
        </div>

    </div>

</div>

<!-- /Home -->